<head>
  <title>Chat</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="dark-theme">
<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="marg"></div>
    <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
      <div class="card-header">
        <div class="input-group">
          <input type="text" placeholder="Search..." name="" class="form-control search">
          <div class="input-group-prepend">
            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="chatBtn">
        <ul class="chatBtnul" >
          <li [hidden]="isDermAIVisible">
            <a class="btn btn-primary small btn-navbar" (click)="ShowDermAI()">
              <i class="fas fa-robot"></i>&nbsp;&nbsp;Chat with DermAI
            </a>
          </li>
          <li [hidden]="isDoctorsVisible">
            <a class="btn btn-primary small btn-navbar" (click)="ShowDoctorsContacts()">
              <i class="fas fa-user-doctor"></i>&nbsp;&nbsp;Chat with Doctors
            </a>
          </li>
          <li [hidden]="isPatientVisible||role==='patient'">
            <a class="btn btn-primary small btn-navbar" (click)="ShowPatientsContacts()">
              <i class="fas fa-user"></i>&nbsp;&nbsp;Chat with Patients
            </a>
          </li>
          <li [hidden]="!isDermAIVisible">
            <a class="btn btn-primary small btn-navbar" (click)="createChatbotChat()">
              <i class="fas fa-add"></i>&nbsp;&nbsp;Create New Chat
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body contacts_body" [hidden]="!isDermAIVisible">
        <ul class="contacts" *ngFor="let c of ListChats">
          <li (click)="activateChat(c.id)" [ngClass]="idChat==c.id ? 'active': 'notActive'">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img src="assets/imgs/logoDermAI.png" class="rounded-circle user_img" alt="">
                <span class="online_icon"></span>
              </div>
              <div class="user_info">
                <div class="message">
                  <span>DermAI</span><i class="fa-regular fa-trash-can " (click)="deleteChat(c.id, 'ChatbotChat')"></i></div>
                <p>Created: {{c.created}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-body contacts_body" [hidden]="!isDoctorsVisible">
        <ul class="contacts" *ngFor="let s of ListSpecialities">
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">{{s}}s</p>
          </div>
          <div *ngFor="let u of ListDoctors">
          <li *ngIf="!ListUsersId.includes(u.id)&& u.speciality==s">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img [src]= u.photo class="rounded-circle user_img" alt="">
              </div>
              <div class="user_info">
                <div class="message"><span>Dr {{u.firstName}} {{u.lastName}}</span></div>
                <button class="btn btn-primary" (click)="createUserChat(u.id)"><i class="fas fa-add"></i>Create Chat with Doctor</button>
              </div>
            </div>
          </li>
          <li *ngIf="ListUsersId.includes(u.id)&& u.speciality==s" (click)="activateChat(userc(u.id))" [ngClass]="idChat==userc(u.id)? 'active': 'notActive'">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img [src]= userap(u.photo) class="rounded-circle user_img" alt="">
                <span class="online_icon" [ngClass]="useras(u.status) == 'online' ? 'online_icon': 'offline_icon'"></span>
              </div>
              <div class="user_info">
                <div class="message"><span>Dr {{useraf(u.firstName)}} {{useral(u.lastName)}}</span><i class="fa-regular fa-trash-can "></i></div>
                <p>Dr {{u.firstName}} is {{u.status}}</p>
              </div>
            </div>
          </li>
          </div>
        </ul>
      </div>
      <div class="card-body contacts_body" [hidden]="!isPatientVisible">
        <ul class="contacts" *ngFor="let u of ListPatients">
            <li *ngIf="!ListUsersId.includes(u.id)">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img [src]= u.photo class="rounded-circle user_img" alt="">
                </div>
                <div class="user_info">
                  <div class="message"><span>{{u.firstName}} {{u.lastName}}</span></div>
                  <button class="btn btn-primary" (click)="createUserChat(u.id)"><i class="fas fa-add"></i>Create Chat with Patient</button>
                </div>
              </div>
            </li>
            <li *ngIf="ListUsersId.includes(u.id)" (click)="activateChat(userc(u.id))" [ngClass]="idChat==userc(u.id)? 'active': 'notActive'">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img [src]= userap(u.photo) class="rounded-circle user_img" alt="">
                  <span class="online_icon" [ngClass]="useras(u.status) == 'online' ? 'online_icon': 'offline_icon'"></span>
                </div>
                <div class="user_info">
                  <div class="message"><span>{{useraf(u.firstName)}} {{useral(u.lastName)}}</span><i class="fa-regular fa-trash-can "></i></div>
                  <p>{{u.firstName}} is {{u.status}}</p>
                </div>
              </div>
            </li>
        </ul>
      </div>
      <div class="card-footer"></div>
    </div></div>
    <div class="col-md-8 col-xl-6 chat">
      <div class="card">
        <div class="card-header msg_head" *ngIf="isChatActive">
          <div class="d-flex bd-highlight">
            <div class="img_cont" *ngIf="isDermAIVisible">
              <img  src="assets/imgs/logoDermAI.png" class="rounded-circle user_img" alt="">
              <span class="online_icon"></span>
            </div>
            <div class="img_cont" *ngIf="isDoctorsVisible||isPatientVisible">
              <img  [src]="userActivePhoto" class="rounded-circle user_img" alt="">
              <span class="online_icon" [ngClass]="userActiveStatus == 'online' ? 'online_icon': 'offline_icon'"></span>
            </div>
            <div class="user_info2">
              <span *ngIf="isDermAIVisible">Chat with DermAI</span>
              <span *ngIf="isDoctorsVisible">Chat with Dr {{userActiveFirstName}}  {{userActiveLastName}}</span>
              <span *ngIf="isPatientVisible">Chat with {{userActiveFirstName}}  {{userActiveLastName}}</span>
              <p>{{messagesCount}} Messages</p>
            </div>
            <div class="video_cam" [hidden]="isDermAIVisible">
              <span><i class="fas fa-video"></i></span>
              <span><i class="fas fa-phone"></i></span>
            </div>
          </div>
          <span id="action_menu_btn" (click)="ShowActionMenu()"><i class="fas fa-ellipsis-v"></i></span>
          <div class="action_menu" [hidden]="!isActionMenuVisible">
            <ul>
              <li><i class="fas fa-user-circle"></i> View profile</li>
              <li><i class="fas fa-users"></i> Add to close friends</li>
              <li><i class="fas fa-plus"></i> Add to group</li>
              <li><i class="fas fa-ban"></i> Block</li>
            </ul>
          </div>
        </div>
        <div class="card-body msg_card_body" *ngIf="ListResults.length===0">
          <div class="chatlog" *ngFor="let m of ListMessages">
              <div class="d-flex justify-content-end mb-4" *ngIf="m.username==user && m.role!='system'">
                <div class="chatMsg_send">
                  <div class="msgcrud_send">
                    <i class="fas fa-ellipsis-vertical"></i>
                    <div class="msg_cotainer_send" *ngIf="!m.content.includes('http://res.cloudinary.com/')">
                      {{m.content}}
                    </div>
                    <div class="msg_cotainer_send" *ngIf="m.content.includes('http://res.cloudinary.com/')">
                      <img [src]="m.content" alt="Uploaded" width="300px" />
                    </div>
                  </div>
                  <span class="msg_time_send">{{m.created}}</span>
                </div>
                <div class="img_cont_msg">
                  <img [src]="currentUser.photo" class="rounded-circle user_img_msg" alt="">
                </div>
              </div>
              <div class="d-flex justify-content-start mb-4" *ngIf="m.username!=user|| m.content.includes('http://res.cloudinary.com/')">
                <div class="img_cont_msg">
                  <img *ngIf="isDermAIVisible" src="assets/imgs/logoDermAI.png" class="rounded-circle bot_img_msg" alt="">
                  <img *ngIf="isDoctorsVisible||isPatientVisible" [src]="userActivePhoto"  class="rounded-circle user_img_msg" alt="">
                </div>
                <div class="chatMsg">
                  <div class="msgcrud">
                    <div class="msg_cotainer" *ngIf="!m.content.includes('http://res.cloudinary.com/')">
                      {{m.content}}
                    </div>
                    <i class="fas fa-ellipsis-vertical"></i>
                  </div>
                  <span class="msg_time">{{m.created}}</span>
                </div>
              </div>
          </div>
        </div>
        <div class="card-body msg_card_body" *ngIf="ListResults.length>0">
          <div class="chatlog" *ngFor="let m of ListMessages">
            <div *ngFor="let sr of ListResults">
            <div class="d-flex justify-content-end mb-4" *ngIf="m.username==user && m.role!='system'">
              <div class="chatMsg_send">
                <div class="msgcrud_send">
                  <i class="fas fa-ellipsis-vertical"></i>
                <div class="msg_cotainer_send" *ngIf="!m.content.includes('http://res.cloudinary.com/')">
                  {{m.content}}
                </div>
                  <div class="msg_cotainer_send" *ngIf="m.content.includes('http://res.cloudinary.com/')">
                  <img [src]="m.content" alt="Uploaded" width="300px" />
                </div>
                </div>
                <span class="msg_time_send">{{m.created}}</span>
              </div>
              <div class="img_cont_msg">
                <img [src]="currentUser.photo" class="rounded-circle user_img_msg" alt="">
              </div>
            </div>
              <div class="d-flex justify-content-start mb-4" *ngIf="m.username!=user|| m.content.includes('http://res.cloudinary.com/')">
                <div class="img_cont_msg">
                  <img *ngIf="isDermAIVisible" src="assets/imgs/logoDermAI.png" class="rounded-circle bot_img_msg" alt="">
                  <img *ngIf="isDoctorsVisible||isPatientVisible" [src]="userActivePhoto"  class="rounded-circle user_img_msg" alt="">
                </div>
                <div class="chatMsg">
                  <div class="msgcrud">
                  <div class="msg_cotainer" *ngIf="!m.content.includes('http://res.cloudinary.com/')">
                    {{m.content}}
                  </div>
                  <div class="msg_cotainer" *ngIf="m.content.includes('http://res.cloudinary.com/')">
                    <app-result [image]="sr.image"
                                [skinType]="sr.skinType"
                                [probability]="sr.probability"
                                [symptoms]="sr.symptoms"
                                [treatments]="sr.treatments"
                                [howCommon]="sr.howCommon"
                                [duration]="sr.duration" ></app-result></div>
                    <i class="fas fa-ellipsis-vertical"></i>
                  </div>
                  <span class="msg_time">{{m.created}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer" *ngIf="isChatActive">
          <div class="input-group" *ngIf="isDermAIVisible">
            <div class="input-group-append">
              <span class="input-group-text attach_btn" onclick="document.getElementById('file-input').click()" ><i class="fas fa-image" ></i></span>
              <input type="file" id="file-input" name="resume" accept=".png, .jpg, .jpeg"
                     [disabled]="loading" [hidden]=true (change)="handleImageUpload($event)">
            </div>
            <textarea class="form-control type_msg" placeholder="Type your message..."
                      [(ngModel)]="userInput" name="userinput" (input)="autoResize($event)" (keydown.enter)="sendMessageToChatbot()" ></textarea>

            <div class="input-group-append">
                            <span class="input-group-text send_btn" (click)="sendMessageToChatbot()"
                            ><i class="fas fa-location-arrow"></i></span>
            </div>
          </div>
          <div class="input-group" *ngIf="isDoctorsVisible||isPatientVisible">
            <div class="input-group-append">
              <span class="input-group-text attach_btn" onclick="document.getElementById('file-input').click()" ><i class="fas fa-image" ></i></span>
              <input type="file" id="file-input1" name="resume" accept=".png, .jpg, .jpeg"
                     [disabled]="loading" [hidden]=true >
            </div>
            <textarea class="form-control type_msg" placeholder="Type your message..."
                      [(ngModel)]="userInput" name="userinput" (input)="autoResize($event)" (keydown.enter)="sendMessageToUser()"></textarea>

            <div class="input-group-append">
                            <span class="input-group-text send_btn" (click)="sendMessageToUser()"
                            ><i class="fas fa-location-arrow"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-alert [msg]="msg"></app-alert>
</div>
</body>

