<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"></head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">


<!-- page navbar -->
<nav *ngIf="router.url === '/home'||router.url === '/'" class="page-navbar" data-spy="affix" data-offset-top="10">
  <ul class="nav-navbar container">
    <li class="nav-item"><a  href="/home" class="nav-link" >Home</a></li>
    <li class="nav-item"><a *ngIf="NotConnected"  href="/login" class="nav-link">Log in</a>
                         <a *ngIf="!NotConnected"  href="/chat" class="nav-link">Chat</a></li>
    <li class="nav-item"><a  href="/" class="nav-link"><img src="assets/imgs/logoDermAI.png" alt="" ></a></li>
    <li class="nav-item" *ngIf="NotConnected"><a  href="/signup" class="nav-link">Sign up</a></li>
    <li class="nav-item mainMenu" *ngIf="!NotConnected">
      <div>
      <a class="profile" (click)="ShowMenu()">
        <img [src]= this.currentUser.photo class="img-container" alt="">
        <small class="nav-link" >{{currentUser.firstName}}</small></a>
      <ul class="submenu " [hidden]="!isMenuVisible">
        <li class=" nav-item" > <i class="fas fa-user-circle"></i><a class=" nav-link" href="/profile">My Profile</a></li>
        <li class=" nav-item" (click)="logout()"> <i class="fas fa-door-open"></i><a class=" nav-link">Logout</a></li>
      </ul>
      </div>
    </li>
    <li class="nav-item search">
      <a href="javascript:void(0)" class="nav-link search-toggle"><i class="ti-search"></i> Search</a>
      <div class="search-wrapper">
        <form>
          <input type="search" class="form-control" name="" placeholder="hit enter to search">
        </form>
      </div>
    </li>
  </ul>
</nav><!-- end of page navbar -->

<nav *ngIf="router.url !== '/home'&&router.url !== '/'" class="page-navbar secondNav">
  <ul class="nav-navbar container" >
    <li class="nav-item"><a  href="/home" class="nav-link">Home</a></li>
    <li class="nav-item"><a *ngIf="NotConnected"  href="/login" class="nav-link">Log in</a>
                         <a *ngIf="!NotConnected"  href="/chat" class="nav-link">Chat</a></li>
    <li class="nav-item"><a  href="/" class="nav-link"><img src="assets/imgs/logoDermAI.png" alt="" ></a></li>
    <li class="nav-item" *ngIf="NotConnected"><a  href="/signup" class="nav-link">Sign up</a></li>
    <li class="nav-item mainMenu" *ngIf="!NotConnected">
      <div>
        <a class="profile" (click)="ShowMenu()">
          <img [src]= this.currentUser.photo class="img-container" alt="">
          <small class="nav-link" >{{currentUser.firstName}}</small></a>
        <ul class="submenu " [hidden]="!isMenuVisible">
          <li class=" nav-item" > <i class="fas fa-user-circle"></i><a class=" nav-link" href="/profile">My Profile</a></li>
          <li class=" nav-item" (click)="logout()"> <i class="fas fa-door-open"></i><a class=" nav-link">Logout</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item search">
      <a href="javascript:void(0)" class="nav-link search-toggle"><i class="ti-search"></i> Search</a>
      <div class="search-wrapper">
        <form>
          <input type="search" class="form-control" name="" placeholder="hit enter to search">
        </form>
      </div>
    </li>
  </ul>
</nav><!-- end of page navbar -->

<div class="theme-selector">
  <a href="javascript:void(0)" class="spinner">
    <i class="ti-paint-bucket"></i>
  </a>
  <div class="body">
    <a href="javascript:void(0)" class="light"></a>
    <a href="javascript:void(0)" class="dark"></a>
  </div>
</div>
