.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #000;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.form-control{
  border: 1px  solid  !important;
}
.form-control:focus{
  border: 2px solid  #3b71ca !important;
}
.form-control:focus ~ .form-label, .form-control:valid ~ .form-label {
  top: 0;
  background-color:#fff;
  transform: translateY(-1.25rem) translateY(0.1rem) scale(.8);
  padding: 0.7rem  0.37rem 0 0.37rem;
}
.alert{
  --mdb-alert-padding-x: 1.5rem;
  --mdb-alert-padding-y: 0.5rem;
  display: flex;
  margin-bottom: 25px;

}
body.dark-theme {
  background: #212529;
}
