.container {
  margin-top: 100px;


}

.card {
  padding: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-top: 0;
  background-color: white;
  
}

.stack {
  flex-direction: column;
}

.grid {
  display: table-cell;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 8px 16px;
  font-weight: 500;
  top: 0;
  text-align: center;
}

.uploaded-image {
  padding: 8px;
  width: 400px;
  object-fit: contain;
}

.card-content {
  border-left: 1px solid #ccc;}

.list {
  list-style-type: none;
  padding: 0;


}

.list li {
  display: flex;
  align-items: center;
  padding: 16px;

}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.avatar img {
  width: 100%;
  height: 100%;
}
.list-item{
  border-bottom: 1px solid #ccc;
}
.item-title {
  font-size: 17px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.item-text {
  font-size: 15px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}
